<html>

<!-- Bootstrap & JQuery -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <a style="font-size:30px" href=/>Index</a>
    <a style="font-size:30px" href=Games>Games</a>
    <a style="font-size:30px" href=Players>Players</a>
    <a style="font-size:30px" href=Ratings>Ratings</a>

<h3>Add new opening:</h3>

<form id="addopening" action="/Openings" method="post">
    Opening name: <input type="text" name="opening_name">
    
    <input type="submit" value="Submit">
</form>


<h3>Openings:</h3>
<table border='1'>
    <thead> 
        <th>opening_id</th> 
        <th>opening_name</th> 
    </thead> 
    <tbody>
        <tr> 
            <td></td> 
            <td></td>
            <td><button onclick="deleteOpening()">Delete</button></td>
            <td><a href="/Players/">Update</a></td>
        </tr>
    </tbody> 
</table> 
</html>
