<html>

<!-- Bootstrap & JQuery -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <a style="font-size:30px" href=/>Index</a>
    <a style="font-size:30px" href=Games>Games</a>
    <a style="font-size:30px" href=Players>Players</a>
    <a style="font-size:30px" href=Openings>Openings</a>

<h3>Add new custom rating:</h3>

<form id="addrating" action="/Ratings" method="post">
    Rating name: <input type="text" name="rating_name"><br>
    </select><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<h3>Ratings:</h3>
<table border='1'>
    <thead> 
        <th>rating_name</th> 
    </thead> 
    <tbody>
        <tr> 
            <td></td> 
            <td><button onclick="deleteRating()">Delete</button></td>
            <td><a href="/Ratings/">Update</a></td>
        </tr>
    </tbody> 
</table> 
</html>
