<html>

<!-- Bootstrap & JQuery -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <a style="font-size:30px" href=/>Index</a>
    <a style="font-size:30px" href=games>Games</a>
    <a style="font-size:30px" href=players>Players</a>
    <a style="font-size:30px" href=openings>Openings</a>
    <a style="font-size:30px" href=ratings>Ratings</a>

    <h3>Players in filter:</h3>
    <table border='1'>
        <thead> 
            <th>player_id</th> 
            <th>rating_name</th> 
            <th>favorite_opening</th>
        </thead>
        <tbody style="margin: auto;">
            {% for player in players %}
            <tr>
                <td>{{player[0]}}</td>
                <td>{{player[1]}}</td>
                <td>{{player[2]}}</td>
                <td style='width: auto'><button onclick="location.href='/deleteplayer?player_id={{player[0]}}'">Delete</button></td>
                <td style='width: auto'><button onclick="location.href='/updateplayerform?player_id={{player[0]}}'">Update</button></td>
            </tr>
            {% endfor %}
        </tbody> 
    </table>

</html>
