<html>

<!-- Bootstrap & JQuery -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <a style="font-size:30px" href=/>Index</a>
    <a style="font-size:30px" href=players>Players</a>
    <a style="font-size:30px" href=openings>Openings</a>
    <a style="font-size:30px" href=ratings>Ratings</a>

<p><form id="addgame" action="/addgame" method="post">
    <label> Add new game </label>
    <p>Note: To add a game with a new player, first add the player to the database (from the players page).</p>
    <p>      To see a newly added game, navigate to the last page.</p>
    <p>Black player's name: <input type="text" name="black_player"><br></p>
    <p>White player's name: <input type="text" name="white_player"><br></p>
    <p>Result: <select id="result" name="result">
        <option value="1-0">White wins (1-0)</option>
        <option value="0-1">Black wins (0-1)</option>
        <option value="1/2-1/2">Stalemate (1/2-1/2)</option>
    </select><br></p>
    <p>Opening: <select id="opening_id" name="opening_id">
        {% for opening in openings %}
        <option value="{{opening.opening_id}}">{{opening.opening_id}}</option>
        {% endfor %}
    </select><br></p>
    <input type="submit" value="Add game">
 </form>
</p>
<br/>

<p><form id='filtergames' action='/filtergames' method='get'>
    <label> Filter by opening </label>
    <select id='opening_id' name="opening_id">
        <option value=""></option>
        {% for opening in openings %}
        <option value={{opening.opening_id}}>{{opening.opening_id}}</option>
        {% endfor %}
    </select><br>
    <label> Filter games by player name </label>
    <input id='player_id' type='text' name='player_id' value=''>
    <p><input type="submit" value="Filter games"></p>
</form></p>

<br/>

<p><form id='page_navigation' action='/games' method='get'>
    <label> Page {{page_number}} of {{last_page}}</label>
    <input id='page' type='text' name='page' value=''>
    <p><input type="submit" value="Go to page"></p>
</form></p>

<h3>Games:</h3>
<table border='1'>
    <thead>
        <th>game_id</th> 
        <th>black_player</th>
        <th>white_player</th>
        <th>result</th>
        <th>opening_id</th>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{game.game_id}}</td>
            <td>{{game.white_player}}</td>
            <td>{{game.black_player}}</td>
            <td>{{game.result}}</td>
            <td>{{game.opening_id}}</td>
            <td><a href="/deletegame?game_id={{game.game_id}}">Delete</a></td>
            <td><a href="/updategameform?game_id={{game.game_id}}">Update</a></td>
        </tr>
        {% endfor %}
    </tbody> 
</table> 
</html>
