<html>

<!-- Bootstrap & JQuery -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <a style="font-size:30px" href=/>Index</a>
    <a style="font-size:30px" href=Players>Players</a>
    <a style="font-size:30px" href=Openings>Openings</a>
    <a style="font-size:30px" href=Ratings>Ratings</a>

<h3>Add new game:</h3>

<p><form id="addgame" action="/Games" method="post">
    <p>Black player's name: <input type="text" name="black_player"><br></p>
    <p>White player's name: <input type="text" name="white_player"><br></p>
    <p>Result: <select name="result">
        <option value="White wins (1-0)">White wins (1-0)</option>
        <option value="Black wins (0-1)">Black wins (0-1)</option>
        <option value="Stalemate (1/2-1/2)">Stalemate (1/2-1/2)</option>
    </select><br></p>
    <p>Opening: <select name="opening_id">
        {% for opening in openings %}
        <option value="{{opening}}">{{opening}}</option>
        {% endfor %}
    </select><br></p>
    <input type="submit" value="Submit">
 </form>
</p>
<br/>

<form id='filter_games_by_opening' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by favorite_opening </label>
    <select id='opening_filter' name="opening_id">
        {% for opening in openings %}
        <option value="{{opening}}">{{opening}}</option>
        {% endfor %}
    </select><br>
    <p><input type="button" value="Filter" onclick="filterGamesByOpening()"></p>
</form>

<form id='search_games_by_player' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search game by player name:</label>
    <input id='player_name_search_string' type='text' name='player_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchGamesByPlayerName()">
</form>

<h3>Games:</h3>
<table border='1'>
    <thead>
        <th>game_id</th> 
        <th>black_player</th>
        <th>white_player</th>
        <th>result</th>
        <th>opening_id</th>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            {% for field in game %}
            <td>{{field}}</td>
            {% endfor %}
            <td><button onclick="deleteGame()">Delete</button></td>
            <td><button onclick="updateGame()">Update</button></td>
        </tr>
        {% endfor %}
    </tbody> 
</table> 
</html>
