<html>

<!-- Styling -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='formatting.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<head>
  <title>Chess Tables!</title>
</head>

<body>
  <div class="w3-bar w3-black w3-card">
      <a href="/" class="w3-bar-item w3-button w3-padding-large"><b>Index</b></a>
      <a href="games" class="w3-bar-item w3-button w3-padding-large">Games</a>
      <a href="players" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Players</a>
      <a href="openings" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Openings</a>
      <a href="ratings" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Ratings</a>
  </div>

  <!-- Automatic Slideshow Images -->

</body>

</html>