<html>

<!-- Bootstrap & JQuery -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <a style="font-size:30px" href=/>Index</a>
    <a style="font-size:30px" href=Games>Games</a>
    <a style="font-size:30px" href=Players>Players</a>
    <a style="font-size:30px" href=Ratings>Ratings</a>

<h3>Add new opening:</h3>

<form id="addopening" action="/Openings" method="post">
    <p>Opening ID: <input type="text" name="opening_id"></p>
    <p>Opening name: <input type="text" name="opening_name"></p>
    <input type="submit" value="Submit">
</form>


<h3>Openings:</h3>
<table border='1'>
    <thead> 
        <th>opening_id</th> 
        <th>opening_name</th> 
    </thead> 
    <tbody>
        {% for opening in openings %}
        <tr>
            {% for field in opening %}
            <td>{{field}}</td>
            {% endfor %}
            <td><button onclick="deleteOpening()">Delete</button></td>
            <td><button onclick="updateOpening()">Update</button></td>
        </tr>
        {% endfor %}
    </tbody> 
</table> 
</html>
