<html>

<!-- Bootstrap & JQuery -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <a style="font-size:30px" href=/>Index</a>
    <a style="font-size:30px" href=Games>Games</a>
    <a style="font-size:30px" href=Openings>Openings</a>
    <a style="font-size:30px" href=Ratings>Ratings</a>

<h3>Add new player:</h3>

<p><form id="addplayer" action="/Players" method="post">
    <p>Player's name: <input type="text" name="player_name"><br></p>
    <p>Player's rating: <input type="text" name="rating_name"><br></p>
    <p>Favorite opening: <select name="favorite_opening"></p>
        {% for opening in openings %}
        <option value="{{opening}}">{{opening}}</option>
        {% endfor %}
    </select><br>
    <p><input type="submit" value="Submit"></p>
</form>
</p>
<br/>

<form id='filter_Players' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by favorite_opening </label>
    <select id='favorite_opening_filter' name="favorite_opening"> 
        {% for opening in openings %}
        <option value="{{opening}}">{{opening}}</option>
        {% endfor %}
    </select><br>
<p><input type="button" value="Filter" onclick="filterPlayersByFavoriteOpening()"></p>
</form>

<form id='search_Players' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search player by name:</label>
    <input id='player_name_search_string' type='text' name='player_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPlayersByName()">
</form>

<h3>Players:</h3>
<table border='1'>
    <thead> 
        <th>player_id</th> 
        <th>rating_name</th> 
        <th>favorite_opening</th>
    </thead> 
    <tbody>
        {% for player in players %}
        <tr>
            {% for field in player %}
            <td>{{field}}</td>
            {% endfor %}
            <td><button onclick="deletePlayer()">Delete</button></td>
            <td><button onclick="updatePlayer()">Update</button></td>
        </tr>
        {% endfor %}
    </tbody> 
</table> 
</html>
