<html>

<!-- Bootstrap & JQuery -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <a style="font-size:30px" href=/>Index</a>
    <a style="font-size:30px" href=games>Games</a>
    <a style="font-size:30px" href=openings>Openings</a>
    <a style="font-size:30px" href=ratings>Ratings</a>



<p><form id="addplayer" action="/addplayer" method="post">
    <label>Add new player:</label>
    <p>Note: To add a player with a new rating, first make sure the rating exists in the ratings table.</p>
    <p>      To see a newly added player, find them according to their player id alphabetical order.</p>
    <p>Player's name: <input type="text" name="player_id"><br></p>
    <p>Player's rating: <input type="text" name="rating_name"><br></p>
    <p>Favorite opening: <select name="favorite_opening"></p>
        {% for opening in openings %}
        <option value="{{opening}}">{{opening}}</option>
        {% endfor %}
    </select><br>
    <p><input type="submit" value="Add player"></p>
</form>
</p>
<br/>

<form id='filterplayers' action='/filterplayers' method='get'>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter players by favorite opening: </label>
    <select id='favorite_opening' name="favorite_opening">
        <option value=""></option>
        {% for opening in openings %}
        <option value="{{opening}}">{{opening}}</option>
        {% endfor %}
    </select><br>
    <label> Filter players by name: </label>
    <input id='player_id' type='text' name='player_id' value=''>
    <p><input type="submit" value="Filter players"></p>
</form>

<h3>Players:</h3>
<table border='1'>
    <thead> 
        <th>player_id</th> 
        <th>rating_name</th> 
        <th>favorite_opening</th>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            {% for field in player %}
            <td>{{field}}</td>
            {% endfor %}
            <td><button onclick="deletePlayer()">Delete</button></td>
            <td><button onclick="updatePlayer()">Update</button></td>
        </tr>
        {% endfor %}
    </tbody> 
</table> 
</html>
