<html>

<!-- Bootstrap & JQuery -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <a style="font-size:30px" href=/>Index</a>
    <a style="font-size:30px" href=games>Games</a>
    <a style="font-size:30px" href=players>Players</a>
    <a style="font-size:30px" href=openings>Openings</a>

<h3>Add new custom rating:</h3>

<form id="addrating" action="/addrating" method="post">
    Rating name: <input type="text" name="rating_name"><br>
    </select><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<h3>Ratings:</h3>
<table border='1'>
    <thead> 
        <th>rating_name</th> 
    </thead> 
    <tbody>
        {% for rating in ratings %}
        <tr>
            <td>{{rating.rating_name}}</td>
            <td><a href="/deleterating?rating_name={{rating.rating_name}}">Delete</a></td>
            <td><a href="/updateratingform?rating_name={{rating.rating_name}}">Update</a></td>
        </tr>
        {% endfor %}
    </tbody> 
</table> 
</html>
