<html>

<!-- Bootstrap & JQuery -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <head>
    <title>Update player</title>
  </head>
  <body>
    <a style="font-size:30px" href=games>Games</a>
    <a style="font-size:30px" href=players>Players</a>
    <a style="font-size:30px" href=openings>Openings</a>
    <a style="font-size:30px" href=ratings>Ratings</a>
  </body>
</html>